{% block navbar %}
        <div class="header">
    <img src="{{ asset('images/adrar-classrooms-logoLogo.png') }}" alt="Logo" class="logo" />
    <h1>Classrooms</h1>
        <ul class="navbar">
            <a href="{{ path('app_adrar') }}">Accueil</a>
            <a href="{{ path('app_adrar') }}">Formations</a>
            <a href="{{ path('app_adrar') }}">Administration</a>
        </ul>
             <img src="{{ asset('images/magnifying-glass-solid.svg') }}" alt="icon" class="icon" style=" fill: #ff0000; cursor: pointer;" />

<div id="search-container" style="display: none;">
    <form action="{{ path('app_adrar') }}" method="POST">
     <button type="button" id="search-button">
            <img src="{{ asset('images/magnifying-glass-solid.svg') }}" alt="icon" class="icon2" style=' cursor: pointer;' />
        </button>
        <input type="text" name="q" placeholder="Recherche..." />
    </form>
</div>
<button type="button" class="login" onclick="location.href='/login'">Se connecter</button>
</div>
{% endblock %}