{% block navbar %}
        <div class="header">
    <img src="{{ asset('images/adrar-classrooms-logoLogo.png') }}" alt="Logo" class="logo" />
    <h1>Classrooms</h1>
        <ul class="navbar">
            <a href="{{ path('app_index') }}">Accueil</a>
            <a href="{{ path('app_index') }}">Formations</a>
            <a href="{{ path('app_index') }}">Administration</a>
        </ul>
             <img src="{{ asset('images/magnifying-glass-solid.svg') }}" alt="icon" class="icon"  />

<div id="search-container">
    <form action="{{ path('app_index') }}" method="POST">
     <div id="search-button">
            <img src="{{ asset('images/magnifying-glass-solid.svg') }}" alt="icon" class="icon2"  />
        </div>
        <input type="text" name="q" placeholder="Recherche..." />
    </form>
</div>
<button type="button" class="login" onclick="location.href='/login'">Se connecter</button>
</div>
{% endblock %}