{% block carte_cours %}
  <div id="miniature_cours">

    <div class="img_cours">
      <img src="{{ asset('images/code.jpg') }}" alt="Logo" style="width:400px; height:200px;" />
    </div>


    {% for t in listeCours %}
            
      <div class="infos_cours">

        <div class="div1">
          <p style="color:#00BFFF; font-size:12px;">COURS</p>
          <p style="margin :0px;">{{t.titre}}</p>
        </div>

        <div class="div2">
          <p>
            <img src="{{ asset('images/clock-regularicons.svg') }}" alt="icone niveau" style="width:10px; height:10px; filter:invert(1); fill:#ffffff;" />
            {{'Niveau ' ~ t.niveau|trans}}{# <p>{{ 'Niveau ' ~ cours.niveau|trans }}</p> #}
          </p>
        </div>

        <div class="div3">
          <p>
            <img src="{{ asset('images/clock-regularicons.svg') }}" alt="icone horloge" style="width:10px; height:10px; filter:invert(1); fill:#ffffff;" />
            {{ t.tempsEstime|trans ~ ' Heures' }} {# <p>{{ cours.tempsEstime|trans ~ ' Heures' }}</p> #}
          </p>
        </div>

        <div class="div4">
          <p> {{ t.synopsis }}</p>
        </div>

      </div> 

    {% endfor %} 

    <div class="div5">
      <button type="button" onclick="moveToChapter(5,0)"> Acces au cours </button>
    </div>

    
  </div>
{% endblock %}
